$white: white
$black: black
$offwhite: lighten($black, 98%)
$gray: lighten($black, 50%)

// Color Scheme 1
$color-light-gray: #bdbdbd
$color-medium-gray: #8f948a
$color-dark-gray: #41463a
$color-purple: #858aa1
$color-brown: #605450
$color-tan: #e0d3c4

// Color Scheme 2
$orange: #ea8515
$blue: #002e6f
$green: #556813
$brown: #514b48
$tan: #ecece8


$headline-color: $brown
$text-color: $brown
$link-color: $orange
$link-hover-color: darken($link-color, 10%)

$button-default: $green
$button-hover: $green

$base-font-size: 16px

$large-padding: 3rem
$medium-padding: 2rem
$default-padding: 1rem
$small-padding: .5rem
