%default-transition
  transition: all .2s ease-in-out
%default-box-shadow
  box-shadow: 0 7px 9px -7px rgba($black, .05)
%wf-loading
  .wf-loading &
    opacity: .05
  .wf-active &
    +animation(fade_in)

%branding-font
  font-family: 'Lobster', cursive
  font-weight: normal
%default-font
  font-family: 'Merriweather', serif