.button, button
  background-color: $lightgray
  padding: 4px 8px
  margin: $default-padding 0
  display: inline-block
  border-radius: 3px
  -moz-transition: scale .3s ease-in-out
  -webkit-transition: scale .3s ease-in-out
  transition: all .3s ease-in-out
  color: black
  text-decoration: none
  font-size: 80%
  svg
    display: inline-block
    vertical-align: middle
    height: 18px
    width: 18px
  &:hover 
    -moz-transform: scale(1.05)
    -webkit-transform: scale(1.05)
    transform: scale(1.05)