@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Quattrocento:400,700)
body, html
  padding: 0
  margin: 0
  background-color: $tan
  @extend %default-font
  font-size: $base-font-size

*, *::before, *::after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

a
  color: $link-color
  text-decoration: none
  @extend %default-transition
  &:hover, &:focus, &:active
    color: $link-hover-color
  img
    border: none

ul, ol, li 
  padding: 0
  margin: 0

.pull-left
  float: left
  margin: 0 $default-padding $default-padding 0
.pull-right
  float: right
  margin-left: 0 0 $default-padding $default-padding

.view 
  background-color: #fff
  width: 100%
  margin: 0 auto
  h1, h2, h3, h4, h5, h6 
    color: $headline-color
  ul, ol 
    margin-left: $large-padding
  p, li 
    font-size: 1rem
    line-height: 1.5rem
    color: $text-color
  .full-header
    width: 100%
    text-align: center
    line-height: 2rem
    padding: $small-padding 0 $medium-padding
    background-color: white
    border-bottom: $tan 1px solid
    p 
      max-width: 600px
      margin: 0 auto
      color: lighten($text-color, 30%)
      font-style: italic
      font-size: .75rem
      line-height: 1rem