header
  padding: 0 $medium-padding
  @extend %clearfix
  a 
    color: $brown
  li
    a:hover, &.active a
      color: $orange
  h1 
    @extend %branding-font
    font-size: 1.5rem
    line-height: 4rem
    margin: 0
    padding: 0
    color: white
    span
      @extend %default-font
    a:hover 
      color: lighten($brown, 20%)
  .site--title
    float: left