header
  padding: 0 $medium-padding
  @extend %default-box-shadow
  @extend %clearfix
  a 
    color: white
    &:hover 
      color: darken($color-light-gray, 30%)
  h1 
    @extend %branding-font
    font-size: 1.5rem
    line-height: 4rem
    margin: 0
    padding: 0
    color: white
    span
      @extend %default-font
  .site--title
    float: left